extends layout

block services
    h2 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus eligendi officiis blanditiis, quis explicabo omnis. Quas perferendis aliquam, nostrum explicabo expedita ad. Suscipit fuga soluta, laboriosam ad ut ullam veniam nobis hic totam voluptatum rem eum repudiandae amet nisi ab cum, repellendus necessitatibus pariatur ex vitae eligendi?